@using ShoesStoreTaskUsingAdoEFLts.Models;


<h2>ShowShoe</h2>

<div>
    @ViewBag.Theshoe.Id
    @ViewBag.Theshoe.Company
    @ViewBag.Theshoe.Brand
    @ViewBag.Theshoe.Size
    @ViewBag.Theshoe.Price


</div>
